[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
backoff = "*"
boto3 = "*"
coverage = "*"
moto = "*"
python-dotenv = "*"
requests = "*"
tzdata = "*"

[requires]
python_version = "3.12"
